:root {
  font-family: 'Gotu', sans-serif;
  --lightGreen: #357b70;
  --orange: #e0b354;
  --purple: #24102f;
  --blue: #0000FF;
  --red: #6F1006;
}

body {
  background-color: var(--lightGreen);
  font-weight: 400;
  font-size: 16px;
  padding: 10px;
  margin: 0;
}

header {
  padding: 24px;
  margin: 0;
  border: 1.5px solid black;
  background-color: var(--purple);
  color: var(--red);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
}

h2 {
  font-size: 16px;
  line-height: 1.2;
  font-style: italic;
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:visited {
  color: var(--red);
  text-decoration-color: var(--red);
}

a:active {
  text-decoration-line: italic;
  text-decoration-color: var(--blue);
}

button:hover,
button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.button_primary {
  border: none;
  font-family: inherit;
  background-color: var(--orange);
  color: var(--purple);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.button_secondary {
  border: none;
  font-family: inherit;
  background-color: var(--lightGreen);
  color: var(--red);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.page-footer {
  clear: both;
  display: flex;
  text-align: center;
}

header .navigation-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  /* Align items to the right */
  padding: 0;
  margin: 0;
  flex: 1;
}

.navigation-list__item {
  margin: 0 10px;
}

.navigation-list__item a {
  color: var(--blue);
  padding: 10px;
  display: block;
  text-decoration: none;
}

.navigation-list__item a:hover {
  background-color: #1565C0;
}

#grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

.grid__item {
  flex: 1 1 calc(33.333% - 1rem);
  /* Adjust for up to 3 items per row */
  background-color: #f9f9f9;
  padding: 1rem;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

@media all and (max-width: 500px) {
  #grid-container {
    flex-direction: column;
  }

  .grid__item {
    flex: 1 1 100%;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid__item {
    flex: 1 1 calc(50% - 1rem);
  }
}

@media all and (max-width: 750px) {
  h1 {
    font-size: 22px;
  }
}

.button,
button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--lightGreen);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: opacity 0.2s;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}