:root {
  font-family: 'Gotu', sans-serif;
  --lightGreen: #357b70;
  --orange: #e0b354;
  --purple: #24102f;
  --blue: #0000FF;
  --red: #6F1006;

}

#body body {
  background-color: var(--lightGreen);

  font-weight: 400;
  font-size: 16px;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}


#header header {
  padding: 24px;
  margin: 12px;
  border: 1.5px solid black;
  background-color: var(--purple);
  color: var(--red);
}

#h1 h1 {
  font-size: 24px;
  line-height: 1.5;
  font-style: bold;
}

#h2 h2 {
  font-size: 16px;
  line-height: 1.2;
  font-style: italic;
}


#a a {
  color: var(--blue);
}

a:hover,
a:focus {
  text-decoration: none;
}


a:visited {
  color: var(--red);
  text-decoration-color: var(--red);
}

a:active {
  text-decoration-line: italic;
  text-decoration-color: var(--blue);
}

#button button:hover,
button:focus {
  cursor: pointer;

  opacity: 0.8;
}

.button_primary {
  border: none;

  font-family: inherit;

  background-color: var(--orange);

  color: var(--purple);

  text-decoration: none;

  padding: 10px;

  border-radius: 3px;

  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}


.button_secondary {
  border: none;

  font-family: inherit;

  background-color: var(--lightGreen);

  color: var(--red);

  text-decoration: none;

  padding: 10px;

  border-radius: 3px;

  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}



.page-footer {
  clear: both;

  display: flex;

  text-align: center;
}

.page-header {
  display: flex;

  width: 100%;

  text-align: center;

  padding: 20px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;

  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list ul {
  display: inline-block;

  margin-left: 10px;
}

.navigation-list__item {
  float: right;

  margin: 2px;

  padding: 10px;


}

div {
  padding: 10px;
  /* Adds a 10px inner spacing to all sides*/

  margin: 10px;
  /* Adds a 10px outer spacing to all sides*/

  border: 1px solid black;
  /* Attributes describe: thickness, type, color*/
}

#grid-container {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 2fr 2fr 2fr;
  grid-gap: 10px;
}

#grid-container .grid__item {
  background-color: #1565C0;
  color: aliceblue;
  text-align: center;
  min-height: 50px;
  position: center;

}



.flex-item {
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;

  list-style: none;
  margin: 0;
  background: deepskyblue;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: #1565C0;
}


.navigation {
  flex-flow: column wrap;
  padding: 0;
}

.navigation a {
  text-align: center;
  padding: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navigation li:last-of-type a {
  border-bottom: none;
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}

.button,
button {
  /* overwrites browser defaults */
  /* resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* style button */
  background-color: var(--lightGreen);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: opacity 0.2s;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}